<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>header</title>
</head>
<body>
	<header th:fragment="header">


			<div class="demo-layout-transparent mdl-layout mdl-js-layout">
					<header class="mdl-layout__header mdl-layout__header--transparent">
					  <div class="mdl-layout__header-row">
						<!-- Title -->
						<span class="mdl-to alayout-title" style="font-size:2em">	 <span class=" glyphicon glyphicon-qrcode"></span> &nbsp;塩  &nbsp; &nbsp; S H I O </a></span>
						<!-- Add spacer, lign navigation to the right -->
						<div class="mdl-layout-spacer"></div>
						<!-- Navigation -->
						<nav class="mdl-navigation">
						  <a class="mdl-navigation__link" th:href="@{/}">H O M E </a>
						  <a class="mdl-navigation__link" href="">A B O U T </a>
						  <a class="mdl-navigation__link" href="">C O N T A C T</a>
	 
						</nav>
					  </div>
					</header>
					<div class="mdl-layout__drawer">
					  <span class="mdl-layout-title">C 0 N T R 0 L L</span>
					  <nav class="mdl-navigation">

						<hr style="margin:auto"width="70%">
						<br>
						<span th:if="${isLogin}"><a class="mdl-navigation__link"  href="/user/login"> Sign in</a></span>
						<span th:unless="${isLogin}"></span><a class="mdl-navigation__link" href=""><span class="glyphicon glyphicon-asterisk"></span> &nbsp Setting</a></span>
						<span th:unless="${isLogin}"></span><a class="mdl-navigation__link" href="/user/logout" ><span class="glyphicon glyphicon-eject"></span> &nbsp Logout</a></span>
					  </nav>
					</div>
					<main class="mdl-layout__content">
					</main>
				  </div>






	   <!-- layout _header.html replaced into main.html 
	   <nav class="navbar navbar-inverse navbar-fixed-top">
	       <div class="container">
	           <div class="navbar-header">
	               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	                   <span class="sr-only">Toggle navigation</span>
	                   <span class="icon-bar"></span>
	                   <span class="icon-bar"></span>
	               </button>
	               <a id="logo" class="navbar-brand" th:href="@{/}">
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> &nbsp;塩  &nbsp;  ?? &nbsp; S H I O </a>
	           </div>
	           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	               <ul class="nav navbar-nav navbar-right">
	                   <li class="active"><a th:href="@{/}">Home<span class="sr-only">(current)</span></a></li>
	                   <li><a th:href="@{/help}">Help</a></li>
	                   <li><a th:href="@{/about}">About</a></li>

	         			<li th:if="${isLogin}"><a th:href="@{/user/list}">Users</a></li>
	         			<li th:if="${isLogin}" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/user/show/} + ${loginUser.id}">Profile</a></li>
								<li><a th:href="@{/user/edit/} + ${loginUser.id}">Settings</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/user/logout">Sign out</a></li>
							</ul>
						</li>
						<li th:unless="${isLogin}"><a href="/user/login">Sign in</a></li>
	               </ul>
	           </div>
	       </div>
	   </nav>
	   <!-- layout _header.html replaced into main.html END -->
	</header>

</body>
</html>

